.small-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }
  
  .large-text {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
  
  .medium-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }